/*.container-fluid{*/
    /*background-color: #efefef;*/
/*}*/

.container-fluid{
    padding-left: 75px;
    padding-top: 20px;
    padding-right: 75px;
    padding-bottom: 20px;
}

.btn-primary{
    background-color: #1c5cf2;
}

.text-secondary{
    color: #ff007f;
}

