/*.navbar-logo {*/
    /*display: inline-block;*/
    /*float: none;*/
    /*vertical-align: top;*/
/*}*/

.navbar-right{
    padding-right: 50px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}